$color-text-p1: #000000;
$color-text-p2: #333333;
$color-text-p3: #666666;
$color-text-p4: #999999;
$color-text-p5: #CCCCCC;

$colors-item-basic: (
        #c99, #c66, #c33,
        #c96, #c93,
        #9c6, #9c3,
        #9c9, #6c6, #3c3,
        #6c9, #3c9,
        #69c, #39c,
        #99c, #66c, #33c,
        #96c, #93c,
        #c69, #c39);

$color-frame-fg: #666666;
$color-frame-bg: #F5F5F5;
$color-frame-shadow: #CCCCCC;

$color-modal-bg: #EEEEEE;

$color-input-bg: #FCFCFC;

$color-menu-bg: #353535;
$color-menu-bg-highlighted: #4A4A4A;
$color-menu-fg: #AEAEAE;
$color-menu-fg-highlighted: #FFFFFF;

$color-scale-bg: #E8E8E8;
$color-scale-fg: #AAAAAA;
$color-scale-scale: #CCCCCC;

$color-slice-unused: #DDDDDD;
$color-slice-selecting: #8AA7DE;
$color-slice-selected: $color-slice-selecting;

$color-task-bg: #EEEEEE;
$color-task-project-bg: #E4E4E4;
$color-task-project-remove-fg: #CCCCCC;
$color-task-tag-fg: #FFFFFF;
$color-task-tag-bg: #CCCCCC;
$color-task-tag-remove-fg: #DDDDDD;

$menu-width: 11em;
