$color-text-p1: #000000;
$color-text-p2: #333333;
$color-text-p3: #666666;
$color-text-p4: #999999;
$color-text-p5: #CCCCCC;

$color-frame-fg: #666666;
$color-frame-bg: #F5F5F5;

$color-menu-bg: #353535;
$color-menu-bg-highlighted: #4A4A4A;
$color-menu-fg: #AEAEAE;
$color-menu-fg-highlighted: #FFFFFF;

$color-scale-bg: #CCCCCC;
$color-slice-used: #4781F0;
$color-slice-used-highlight: $color-slice-used * 1.2;
$color-slice-unused: #DEDEDE;
$color-slice-unused-highlight: $color-slice-unused * 1.05;
$color-slice-shadow: #CCCCCC;

$menu-width: 11em;
