$color-frame-fg: #555555;
$color-frame-bg: #F5F5F5;

.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: $color-frame-fg;
  background-color: $color-frame-bg;

  .content {
    position: absolute;
    left: 10em;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
}
