@import './index';

.body {
  display: flex;
  margin: 1em 0;

  .dates {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 $date-width;

    .date {
      position: relative;
      flex: 0 0 $row-height;
      margin-top: $row-gap;
      font-family: monospace;

      .year {
        position: absolute;
        bottom: 1.9em;
        font-size: 0.75em;
        color: $color-text-p5;
      }

      .monthDay {
        position: absolute;
        bottom: 0.2em;
        color: $color-text-p3;
      }
    }
    .date:first-child {
      margin-top: 0;
    }
  }

  .slices {
    display: grid;
    grid-auto-rows: $row-height;
    grid-row-gap: $row-gap;
    flex: 1 1 auto;
  }
}
