@import './index';

.day {
  display: table-row;
  height: 3em;
  font-family: monospace;

  .date {
    position: relative;
    display: table-cell;
    width: $date-width;

    .year {
      position: absolute;
      bottom: 2.3em;
      font-size: 0.75em;
      color: $color-text-p5;
    }

    .monthDay {
      position: absolute;
      bottom: 0.3em;
      color: $color-text-p3;
    }
  }
}
