$color-global-bg: #F0F0F0;
$color-scale-bg: #CCCCCC;
$color-slice-used: #4781F0;
$color-slice-unused: #DEDEDE;
$color-slice-shadow: #CCCCCC;

.table {
  margin: 2em;
  background-color: $color-global-bg;

  .scale {
    height: 2em;
    margin-bottom: 1em;
    background-color: $color-scale-bg;
  }

  .body {
    ;

    .day {
      height: 2em;
      margin: 1em 0;

      .slice {
        display: inline-block;
        width: 3%;
        height: 2em;
        margin: 0 0.583333333%;
        background-color: $color-slice-unused;
        box-shadow: 0.25em 0.25em $color-slice-shadow;
      }
      .slice:hover {
        background-color: $color-slice-unused * 1.05;
      }
      .slice.used {
        background-color: $color-slice-used;
      }
      .slice.used:hover {
        background-color: $color-slice-used * 1.2;
      }
    }
  }
}
