@import '../common';

$date-width: 4em;
$slice-margin: 0.15em;

.table {
  padding: 1em;

  .scale {
    height: 2em;
    margin-left: $date-width + $slice-margin;
    background-color: $color-scale-bg;
  }

  .body {
    display: table;
    width: 100%;
    border-spacing: 0 1em;
    table-layout: fixed;

    .day {
      display: table-row;
      height: 3em;
      font-family: monospace;

      .date {
        position: relative;
        display: table-cell;
        width: $date-width;

        .year {
          position: absolute;
          bottom: 2.3em;
          font-size: 0.75em;
          color: $color-text-p5;
        }

        .monthDay {
          position: absolute;
          bottom: 0.3em;
          color: $color-text-p3;
        }
      }

      .slice {
        display: table-cell;
        border-left: $slice-margin solid $color-frame-bg;
        background-color: $color-slice-unused;
      }
      .slice:hover {
        background-color: $color-slice-unused-highlight;
      }
      .slice.used {
        background-color: $color-slice-used;
      }
      .slice.used:hover {
        background-color: $color-slice-used-highlight;
      }
      .slice.selected {
        background-color: $color-slice-selected;
      }
      .slice.selecting {
        background-color: $color-slice-selecting;
      }
    }
  }
}

:global {
  .selectable-selectbox {
    z-index: 9000;
    position: absolute;
    cursor: default;
    background: none;
    border: 1px dashed grey;
  }
}
