@import '../common';

$date-width: 4em;

.table {
  padding: 1em;
}

:global {
  .selectable-selectbox {
    z-index: 9000;
    position: absolute;
    cursor: default;
    background: none;
    border: 1px dashed grey;
  }
}
