@import './index';

.scale {
  display: table;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  box-shadow: 0.1em 0.1em $color-frame-shadow;

  .scaleRow {
    display: table-row;
    height: 0.7em;

    .datePlaceholder {
      display: table-cell;
      width: $date-width;
      padding: 0;
      background-color: $color-scale-bg;
    }

    .scaleElement {
      display: table-cell;
      border-left: 1px solid $color-scale-scale;
      font-size: 0.875em;
      color: $color-scale-fg;
      background-color: $color-scale-bg;
    }
  }
}
