@import './index';

.task {
  margin-top: 1em;
  padding: 0.5em;
  box-shadow: 0.1em 0.1em $color-frame-shadow;
  color: $color-text-p4;
  background-color: $color-task-bg;

  .periodsAndName {
    display: flex;
    align-items: center;
    height: 2.5em;

    .period {
      flex: 0 0 auto;
      margin-right: 0.5em;
      cursor: default;

      .timeBegin {
        display: block;
      }

      .timeEnd {
        display: block;
      }

      .timeDate {
        font-size: 0.75em;
        color: $color-text-p5;
      }

      .timeTime {
        font-size: 0.875em;
        margin-left: 0.25em;
      }
    }

    .ellipsis {
      flex: 0 0 auto;
      margin-right: 0.5em;
      cursor: default;
    }

    .name {
      flex: 1 1 auto;
      margin-left: 1em;
      border: 0;
      border-radius: 0.2em;
      padding: 0.5em;
      font-size: 1em;
      color: $color-text-p3;
      background-color: $color-input-bg;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .name::placeholder {
      color: $color-text-p4;
    }
  }

  .project {
    display: flex;
    align-items: center;
    height: 2.5em;
    margin-top: 0.5em;
    overflow: hidden;

    .icon {
      flex: 0 0 auto;
    }

    .name {
      flex: 0 0 auto;
      padding: 0.3em 0.5em;
      margin-left: 1em;
      border-radius: 0.2em;
      color: $color-text-p3;
      background-color: $color-task-project-bg;

      span {
        cursor: pointer;
      }

      .remove {
        margin-left: 0.5em;
        font-size: 0.875em;
        color: $color-task-project-remove-fg;
        cursor: pointer;
      }
    }
  }

  .tagsWrapper {
    display: flex;
    align-items: center;
    min-height: 2.5em;
    margin-top: 0.5em;

    .icon {
      flex: 0 0 auto;
    }

    .tags {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      flex: 1 1 auto;
      font-size: 0.875em;

      .name {
        position: relative;
        flex: 0 0 auto;
        padding: 0.2em 0.5em;
        margin: 0.3em 0 0.3em 1em;
        border-radius: 0.2em;
        color: $color-task-tag-fg;
        background-color: $color-task-tag-bg;

        .remove {
          margin-left: 0.5em;
          font-size: 0.875em;
          color: $color-task-tag-remove-fg;
          cursor: pointer;
        }
      }

      @for $i from 1 through length($colors-item-basic) {
        .name.style-#{$i} {
          background-color: (nth($colors-item-basic, $i) + 4 * $color-task-tag-bg) / 5;
        }
      }

      .add {
        flex: 0 0 auto;
        margin-left: 1em;
        cursor: pointer;
      }
    }
  }
}
