@import './index';

.creation {
  margin-top: 1em;
  padding: 0 0.5em;
  box-shadow: 0.1em 0.1em $color-frame-shadow;
  color: $color-text-p4;
  background-color: $color-task-summary-bg;

  .header {
    display: flex;
    align-items: center;
    height: 2.5em;

    .period {
      flex: 0 0 auto;
      margin-right: 0.5em;
      cursor: default;

      .timeBegin {
        display: block;
      }

      .timeEnd {
        display: block;
      }

      .timeDate {
        font-size: 0.75em;
        color: $color-text-p5;
      }

      .timeTime {
        font-size: 0.875em;
        margin-left: 0.25em;
      }
    }

    .ellipsis {
      flex: 0 0 auto;
      margin-right: 0.5em;
      cursor: default;
    }

    .name {
      flex: 1 1 auto;
      margin-left: 0.5em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .project {
    display: flex;
    align-items: center;
    height: 2.5em;

    .icon {
      flex: 0 0 auto;
      font-size: 1.333333333em;
    }

    .name {
      flex: 1 1 auto;
      margin-left: 1em;
    }
  }

  .tags {
    display: flex;
    align-items: center;
    height: 2.5em;

    .icon {
      flex: 0 0 auto;
      font-size: 1.333333333em;
    }

    .name {
      flex: 0 0 auto;
      margin-left: 1em;
    }
  }
}
