@import './index';

.summary {
  display: flex;
  align-items: center;
  height: 2.5em;
  margin-top: 1em;
  padding: 0 0.5em;
  box-shadow: 0.1em 0.1em $color-frame-shadow;
  color: $color-text-p4;
  background-color: $color-task-summary-bg;

  .time {
    flex: 0 0 auto;

    .timeBegin {
      display: block;
    }

    .timeEnd {
      display: block;
    }

    .timeDate {
      font-size: 0.75em;
      color: $color-text-p5;
    }

    .timeTime {
      font-size: 0.875em;
      margin-left: 0.25em;
    }
  }

  .project {
    flex: 0 0 10em;
    margin-left: 0.5em;
    padding: 0.5em;
    border-radius: 0.25em;
    background-color: $color-task-summary-project-bg;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .name {
    flex: 1 1 auto;
    margin-left: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
