@import '../common';

$menu-padding-horizontal: 0.5em;

.menu {
  position: absolute;
  width: $menu-width - $menu-padding-horizontal * 2;
  height: 100%;
  padding: 0.5em $menu-padding-horizontal;
  overflow: hidden;
  color: $color-menu-fg;
  background-color: $color-menu-bg;

  .logo {
    height: 4em;
    line-height: 4em;
    cursor: pointer;

    img {
      width: 2em;
      height: 2em;
      vertical-align: middle;
    }

    .title {
      margin-left: 0.5em;
      font-size: 1.2em;
      font-weight: bold;
      font-family: monospace;
      vertical-align: middle;
    }
  }

  .item {
    height: 2.5em;
    line-height: 2.5em;
    margin: 0.25em 0;
    padding: 0 0.5em;
    border-radius: 0.5em;
    font-size: 0.9375em;
    cursor: pointer;

    .icon {
      width: 1em;
      font-size: 1.333333333em;
      vertical-align: middle;
    }

    .name {
      margin-left: 1em;
      vertical-align: middle;
    }
  }
  .item:hover {
    color: $color-menu-fg-highlighted;
  }
  .item.selected {
    color: $color-menu-fg-highlighted;
    background-color: $color-menu-bg-highlighted;
  }
}
