@import '../common';

$menu-width: 10em;
$menu-item-icon-width: 1.3em;
$menu-item-icon-H-padding: 0.5em;
$menu-width-compact: $menu-item-icon-width + $menu-item-icon-H-padding * 2;
$menu-logo-width: 2em;
$menu-logo-H-padding: ($menu-width-compact - $menu-logo-width) / 2;

.menu {
  flex: 0 0 auto;
  width: $menu-width;
  height: 100%;
  padding: 0 0.5em;
  overflow: hidden;
  color: $color-menu-fg;
  background-color: $color-menu-bg;

  .logo {
    height: 4em;
    line-height: 4em;
    cursor: pointer;

    img {
      width: $menu-logo-width;
      height: 2em;
      margin-left: $menu-logo-H-padding;
      vertical-align: middle;
    }

    .title {
      margin-left: 0.5em;
      font-size: 1.2em;
      font-weight: bold;
      font-family: monospace;
      vertical-align: middle;
    }
  }

  .item {
    height: 2.5em;
    line-height: 2.5em;
    margin: 0.25em 0;
    padding: 0 $menu-item-icon-H-padding;
    border-radius: 0.5em;
    font-size: 0.9375em;
    cursor: pointer;

    .icon {
      width: $menu-item-icon-width;
      text-align: center;
      font-size: 1.333333333em;
      vertical-align: middle;
    }

    .name {
      margin-left: 1em;
      vertical-align: middle;
    }
  }
  .item:hover {
    color: $color-menu-fg-highlighted;
  }
  .item.selected {
    color: $color-menu-fg-highlighted;
    background-color: $color-menu-bg-highlighted;
  }
}
.menu.compact {
  width: $menu-width-compact;
}
